# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of `go build`
/bin/
/build/
/dist/
test

# Dependency directories (e.g. Go modules)
vendor/

# IDE
.idea

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
*.out
